# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignorar carpetas de reportes de Allure
allure-results/
allure-report/

# Ignorar dependencias de Node (esto es vital)
node_modules/

# Ignorar archivos de sistema o temporales
.DS_Store
Thumbs.db
*env/
venv/
*.env.*
*.env
